
 <link rel="stylesheet" href="/css/bootstrap.min(pll).css">
    <!-- animate CSS -->
   
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all(pll).css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon(pll).css">
    <link rel="stylesheet" href="/css/themify-icons(pll).css">
    <!-- font awesome CSS -->

    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style(pll).css">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" href="/css/navbar.css">
 <!--================login_part Area =================-->
    
    
    
    <section id="section" style="display: none;"></section>
    <section class="login_part section_padding  " id="page">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 login-inner">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner" style="    width: 50%;">
                            <h2>Welcome Back ! <br>
                                Please Sign in now</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            {{#if loginErr}}
                           <div class="alert alert-danger" role="alert">
                           <i class="fa fa-exclamation-triangle"></i> {{loginErr}}
                         </div>
                         {{/if}}
                            <form class="row contact_form" action="/admin/login" method="post" id="myform">
                                <div class="col-md-12 form-group p_star">
                                    <input type="email" class="form-control" id="email" name="email" value=""
                                        placeholder="Email">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password">
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        <input type="checkbox" id="f-option" name="selector">
                                        <label for="f-option">Remember me</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        log in
                                    </button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
  console.log(window.innerWidth)
  let screen=window.innerWidth
  let page=document.getElementById('page')
  let section=document.getElementById('section')
  if(screen < 991){
    page.style.display='none'
    section.style.display='block'
    let div=document.createElement('div')
    div.setAttribute('class','container')
    
    let h4=document.createElement('p')
    h4.setAttribute('class','text-center mt-5')
    h4.innerHTML='Please use a Desktop or Laptop to view this page'
    div.appendChild(h4)
    section.appendChild(div)
  }
</script>
    <script>
    function preventBack() {
            window.history.forward(); 
        }
          console.log(location.pathname)
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };

</script>
    
    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
