
    <link rel="stylesheet" href="/css/bootstrap.min.css">




<link rel="stylesheet" href="/css/style.css">

<link rel="stylesheet" href="/css/responsive.css">
<style>
               
.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}



.search-result h3 a {
    margin-bottom: 0;
    color: #000;
}

.search-result .search-link  {
    color: #006621;
}

.search-result .category {
    font-size: 20px;
    margin-bottom: 0;
}
.search-result .price {
    font-size: 1.5em;
    color: #fb341f;
    margin-bottom: 0;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    font-weight: 100;
}

                  
</style>
</head>
<body style="background-color: #ccc;padding-left: 5em;padding-top: 5em;padding-bottom: 5em;padding-right: 5em;">
    <div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    
                    
                    
                
                    
        
                    
                    
                    <div class="hr-line-dashed"></div>
                    
                    <div class="search-result">
                        <div class="row">
                            
                            <div class="">
                                 <h3><strong>Name :</strong>  {{name}}</h3>
                                 <h3>Email : <a href="mailto:{{email}}"></a>{{email}}</h3>
                                 <div class="hr-line-dashed"></div>
                                 <table class="shop_table">
         
                                        
                                        <tbody>
                                            <tr>
                                                
                                                <td><h4>{{message}}</h4></td>
                                                
                                            </tr>
                                             
                                                
                                            
                                        </tbody>
                                       
                                        
                                    </table>
                                
                            </div>
                        </div>
                        
                       
                    </div>

                    <div class="hr-line-dashed"></div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>
</body>
</html>



