
       <link rel="stylesheet" href="/font/fontawesome/css/all.css">

        <link rel="stylesheet" href="/css/bootstrap(elc).min.css">

    <link rel="stylesheet" href="/css/layouts(elc).css">

    <link rel="stylesheet" href="/css/style(elc).css">

    <link rel="stylesheet" href="/css/responsive(elc).css">
     <link rel="stylesheet" href="/css/default(elc).css">
    <link rel="stylesheet" href="/css/cart-responsive.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="body-wrapper">
 <div class="content-wrapper">
<div class="order-complete mt-5 mb-5">
                <div class="container">
                    <div class="complete-order">
                        <div class="col-md-8">
                            <div class="complete-inner">
                                <img src="/img/success-order.svg" alt="">

                                <p class="success-order">Congratulations! Your Feedback <span>successfully</span> sent</p>
                                <a href="/" class="shopping-btn">Go to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>

<script src="/js/custom.js"></script>